        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="navbar-link"><a class="glyphicon glyphicon-home" href="index.html"></a></li>
                        <!-- End Home -->

                        <!-- Downloads -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Downloads
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="release_cmisdlnaconnector.html"><i class="fa fa-cloud-download"></i> Cmis Dlna Connector</a></li>
                            </ul>
                        </li>
                        <!-- End Downloads -->

                        <!-- Documents -->                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Documents
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="concepts_index.html"><i class="fa fa-cogs"></i> Concepts</a></li>
                                <li><a href="how_to_index.html"><i class="fa  fa-info"></i> How-to</a></li>
                                <li><a href="paint_by_numbers_index.html"><i class="fa fa-picture-o"></i> Paint by Numbers</a></li>
                                <li><a href="helicopter_index.html"><i class="fa fa-compass"></i> Helicopter</a></li>
                                <li><a href="spaghetti_western_index.html"><i class="fa fa-puzzle-piece"></i> Spaghetti Western</a></li>
                                <li><a href="faq.html"><i class="fa fa-question-circle"></i> Frequently Asked</a></li>
                            </ul>
                        </li>
                        <!-- End Documents -->

                        <!-- Community -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Community
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="getting_involved.html"><i class="fa fa-star"></i> Getting Involved</a></li>
                                <li><a href="#"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
                                <li><a href="adopters.html"><i class="fa fa-users"></i> Adopters</a></li>
                                <li><a href="related_projects.html"><i class="fa fa-link"></i> Related Projects</a></li>
                            </ul>
                        </li>                    
                        <!-- End About -->

                        <!-- Blog -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Blog
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="pov_current.html"><i class="fa fa-calendar"></i> Current News</a></li>
                                <li><a href="#"><i class="fa fa-compass"></i> Point of View</a></li>
                                <li><a href="#"><i class="fa fa-archive"></i> Archive</a></li>
                            </ul>
                        </li>
                        <!-- End Blog -->

                        <!-- About -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                About
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="motivation.html"><i class="fa fa-lightbulb-o"></i> Motivation</a></li>
                                <li><a href="contacts.html"><i class="fa fa-user"></i> Contacts</a></li>
                                <li><a href="terms.html"><i class="fa fa-gavel"></i> Terms of Service</a></li>
                            </ul>
                        </li>                    
                        <!-- End About -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
