        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="logo-header" src="/assets/img/logo1-default.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="navbar-link"><a class="glyphicon glyphicon-home" href="/"></a></li>
                        <!-- End Home -->

                        <!-- Concepts -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Concepts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/concepts/overview"><i class="fa fa-cogs"></i> Overview</a></li>
                                <li><a href="/concepts"><i class="fa  fa-map-marker"></i> Roadmap</a></li>
                            </ul>
                        </li>

                        <!-- Retrospectives -->                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Retrospectives
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/retrospectives/"><i class="fa fa-cubes"></i> Topic Summary</a></li>
                                <li><a href="/retrospectives/faq"><i class="fa fa-question-circle"></i> Frequently Asked</a></li>
                            </ul>
                        </li>

                        <!-- Community -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Community
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/community"><i class="fa fa-star"></i> Getting Involved</a></li>
                                <li><a href="http://stackoverflow.com/questions/tagged/giubilo" target="_blank"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
                                <li><a href="/community/adopters"><i class="fa fa-users"></i> Adopters</a></li>
                                <li><a href="/community/relatedprojects"><i class="fa fa-link"></i> Related Projects</a></li>
                            </ul>
                        </li>                    

                        <!-- Blog -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Blog
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/news"><i class="fa fa-rss"></i> Current News</a></li>
                                <li><a href="/pov"><i class="fa fa-compass"></i> Points of View</a></li>
                            </ul>
                        </li>

                        <!-- About -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                About
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/about/start"><i class="fa fa-circle-o-notch"></i> Start Here</a></li>
                                <li><a href="/about/motivation"><i class="fa fa-lightbulb-o"></i> Motivation</a></li>
                                <li><a href="/about/contacts"><i class="fa fa-user"></i> Contacts</a></li>
                                <li><a href="/about/serviceterms"><i class="fa fa-gavel"></i> Licenses and Terms</a></li>
                            </ul>
                        </li>                    

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
