{{ partial "pre_header.html" . }}
<head>

	{{ partial "std_header.html" . }}

    <!-- CSS Implementing Plugins -->
    {{ partial "std_impl_plugins.html" . }}

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="/assets/css/pages/page_job.css">


	{{ partial "std_css_theme.html" . }}

</head>
<body class="header-fixed">

<div class="wrapper">

    <div class="header">
		{{ partial "topbar.html" . }}
		{{ partial "navbar.html" . }}
    </div>

	{{ partial "breadcrumbs.html" . }}
   
    <div class="container">
        <div class="row margin-top-30">
            <div class="col-md-12">					
                <p>{{ .Content }}</p>
            </div>            
        </div>
    </div>

	{{ partial "copyright.html" . }}

</div><!--/wrapper-->

{{ partial "js_global_compulsory.html" . }}

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>

{{ partial "ie9_plugin.html" . }}

</body>
</html>