{{ partial "pre_header.html" . }}
<head>

	{{ partial "std_header.html" . }}

    <!-- CSS Implementing Plugins -->
    {{ partial "std_impl_plugins.html" . }}
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/plugins/layer-slider/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="/assets/plugins/image-hover/css/img-hover.css">

    <!-- CSS Page Style -->    

	{{ partial "std_css_theme.html" . }}

</head>
<body class="header-fixed">

<div class="wrapper">

    <div class="header">
		{{ partial "topbar.html" . }}
		{{ partial "navbar.html" . }}
    </div>

    <!--=== Slider ===-->
    <div id="layerslider" style="width: 100%; height: 450px; margin: 0px auto;">
        <!-- First slide -->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="/assets/img/san_pietro_lowres.jpg" class="ls-bg" alt="Slide background">

            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:140px; left: 10px; ">
                ORGANISE YOUR</p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:195px; left: 10px; ">
                DIGITAL LIFE </p>

            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:250px; left: 10px; ">
                Store your things forever, easily </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:281px; left: 10px; ">
                Search &amp; find them quickly </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:312px; left: 10px; ">
                Share with others safely </p>

            <p class="ls-s-1" style=" color: #fff; line-height:100px; font-weight: 200; font-size: 95px; top:200px; left: 530px; "
				data-ls="offsetxin:right; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">
                <span class="fa fa-archive service-icon"> </span> <span class="fa fa-plus service-icon" style=" font-size: 45px; "> </span>
                <span class="fa fa-search service-icon"> <span class="fa fa-plus service-icon" style=" font-size: 45px; "> </span>
                </span> <span class="fa fa-users service-icon"> </span>
            </p>

        </div>

        <!--Second Slide-->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="/assets/img/gaudi_lowres.jpg" class="ls-bg" alt="Slide background">

            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:140px; left: 10px; ">
                UNDERSTANDING </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:195px; left: 10px; ">
                THROUGH ACTION </p>

            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:250px; left: 10px; ">
                Get started now </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:281px; left: 10px; ">
                Learn as we learn </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:312px; left: 10px; ">
                Contribute to the process </p>
             
            <img class="ls-l" src="/assets/img/7-cogs.gif" style="top:110px; left: 460px; " 
            data-ls="offsetxin:right; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />            

        </div>

        <!--Third Slide-->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="assets/img/eiffel_tower_lowres.jpg" class="ls-bg" alt="Slide background">

            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:140px; left: 10px; ">
                SIMPLE APPROACH </p> 
            
            <p class="ls-s-1" style=" color: #fff; line-height:50px; font-weight: 200; font-size: 45px; background:rgba(35, 109, 29, 0.8); top:195px; left: 10px; ">
                USING OPEN SOURCE </p>            

            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:250px; left: 10px; ">
                 Widely used open source tools </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:281px; left: 10px; ">
                 Different approaches and ideas </p>
            
            <p class="ls-s-1" style=" color: #fff; line-height:30px; font-weight: 150; font-size: 20px; background:rgba(0, 0, 0, 0.8); top:312px; left: 10px; ">
                 Readily accessible technologies </p>
             
            <img class="ls-l" src="/assets/img/open-source-icons-tile-lowres.gif" style="top:100px; left: 600px; " 
            data-ls="offsetxin:right; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />            
            
        </div>
    </div>
    <!--=== End Slider ===-->


    <!--=== Tag Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Giubilo is a simple way to organise and access the family's entire digital life.</span>
                    <p>
                    We're working out how to make practical for a household, the processes and tools that large organisations use to store and organise <br>
                    things. Read along and follow us to see how open source project techniques, tools and technologies are being used to do this.
					</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="/about/start" class="btn-u btn-u-lg"><i class="fa  fa-circle-o-notch"></i> Start Here</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Tag Block -->

    <!--=== Content Part ===-->
    <div class="container content">	

        <!-- Latest Posts -->
    	<div class="row margin-bottom-30">
            <div class="col-md-4">
    			<div class="headline"><h2><i class="fa fa-cloud-download service-icon" style="color: #72c02c;"></i> Latest Releases</h2></div>
	                <ul class="list-unstyled latest-list" >
				        {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
				            {{ range first 3 $taxonomy.Pages.ByDate.Reverse }}
				            	{{ if eq $key "releases" }}
									{{ .Render "li"}}
				            	{{ end }}			            
				            {{ end }}
				        {{ end }}
	                </ul>
            </div><!--/col-md-4-->

            <div class="col-md-4">
    			<div class="headline"><h2><i class="fa fa-cogs service-icon" style="color: #72c02c;"></i> Latest Posts</h2></div>
	                <ul class="list-unstyled latest-list" >
				        {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
				            {{ range first 3 $taxonomy.Pages.ByDate.Reverse }}
				            	{{ if eq $key "posts" }}
									{{ .Render "li"}}
				            	{{ end }}			            
				            {{ end }}
				        {{ end }}
	                </ul>
            </div><!--/col-md-4-->

            <div class="col-md-4">
    			<div class="headline"><h2><i class="fa fa-rss service-icon" style="color: #72c02c;"></i> Latest News</h2></div>
	                <ul class="list-unstyled latest-list">
				        {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
				            {{ range first 3 $taxonomy.Pages.ByDate.Reverse }}
				            	{{ if eq $key "news" }}
									{{ .Render "li"}}
				            	{{ end }}			            
				            {{ end }}
				        {{ end }}
	                </ul>
            </div><!--/col-md-4-->

    	</div>	
    	<!-- End Latest Posts -->

    	<!-- Info Block -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-7 md-margin-bottom-40">
    			<div class="headline"><h2><i class="fa fa-lightbulb-o service-icon" style="color: #72c02c;"></i> The Idea</h2></div>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="img-responsive margin-bottom-20" src="/assets/img/comedy_tragedy_colour.gif" alt="">
                    </div>
                    <div class="col-sm-10">
                        <p>
                        Do you collect a ton of photos, notes, receipts, to-do's, music, movies, documents, recipes, how-to's, bookmarks?  Are you trying to 
                        manage a life that's sprawling everywhere at home and online?  
                        Giubilo is a virtual personal assistant to help tie up the loose ends of organising your life and leisure time. 
                        </p>
                        <p>
                        The processes and tools to do this aren't new: 
                        </p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Corporations digitise file-rooms of paper into Advanced Case Management Systems</li>
                            <li><i class="fa fa-check color-green"></i> Software developers manage code and builds in Distributed Version Controls Systems</li>
                            <li><i class="fa fa-check color-green"></i> Researchers preserve their work with integrity in Immutable Repositories</li>
                            <li><i class="fa fa-check color-green"></i> Webmasters organise and publish digital assets in Web Content Management Tools</li>
                        </ul>                    
                        <p>
                        Between these they have had: sophisticated linking, analytics, collaboration and search, version control, file signing, integrity checks, encryptions
                        licensing and citability, granular access models, flexible rules-based workflows and tools for backup, sync and cloud access. 
                        </p>
                        <p>
                        It makes sense to consumerise these cool capabilities to help at home...<a href="/about/motivation">READ MORE</a>
                        </p>
                    </div>
                </div>
            </div><!--/col-md-8-->        

    		<div class="col-md-5 md-margin-bottom-40">
    			<div class="headline"><h2><i class="fa fa-tags service-icon" style="color: #72c02c;"></i> Credit for Inspiration</h2></div>
	            <p>Some of the ideas and inspiration for Giubilo came from the following:</p>
                <div class="row">
                    <div class="col-sm-12">
						<a href="/community/relatedprojects">
				        <ul class="list-inline our-clients" id="effect-2">
				            <li>
				                <figure>
				                    <img src="/assets/img/camlistore_logo-lowres.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Camlistore</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/alfresco-logo.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Alfresco</h4>
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/ember-splash-screen-lowres.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Ember Media Manager</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/chemistry_logo.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Apache Chemistry</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/netty-logo.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Netty Project</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="assets/img/cybergarage-logo.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Cybergarage UPnP</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/tasktop-logo.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Tasktop</h4>  
				                    </div>
				                </figure>
				            </li>    
				            <li>
				                <figure>
				                    <img src="/assets/img/tom-demarco.jpg" alt="">
				                    <div class="img-hover">
				                        <h4>Tom Demarco</h4>  
				                    </div>
				                </figure>
				            </li>    				 
				        </ul>
				    	</a>
			        </div>
                </div>
            </div><!--/col-md-8-->        
    	</div>	

    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service" data-service="/about/motivation">
                    <i class="fa fa-search-plus service-icon"></i>
        			<div class="desc">
        				<h4>Store, Search & Share</h4>
                        <p>We're developing tools that you can download and use for, storing all your digital things forever, no matter what they are, find them no 
                        matter where you are and share them safely and easily...</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service" data-service="/about/motivation">
                    <i class="fa fa-cubes service-icon"></i>
        			<div class="desc">
        				<h4>Step-by-Step</h4>
                        <p>Giubilo is made up of <i>Concepts</i> - things being built, <i>Retrospectives</i> - step-by-step how-did's to make things easy to understand and recreate and 
                        <i>Points of view</i> - thoughts for where things could go...</p>
        			</div>
        		</div>	
        	</div>			    
        	<div class="col-md-4">
        		<div class="service" data-service="/about/motivation">
                    <i class="fa fa-cogs service-icon"></i>
        			<div class="desc">
        				<h4>Open Source</h4>
                        <p>The software and information developed is open source and is using open source tools, techniques and technologies, like Q&A Communities, ALM 
                        and DevOps, Crowd Sourcing, Java, Go, UPnP, CMIS, Eclispe, Github, Docker...</p>
        			</div>
        		</div>	
        	</div>
    	</div>
    	<!-- End Service Blocks -->
    	
    </div>

	{{ partial "copyright.html" . }}

</div><!--/wrapper-->

{{ partial "js_global_compulsory.html" . }}

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/plugins/image-hover/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/image-hover/js/touch.js"></script>
<!-- Layer Slider -->
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/greensock.js"></script>
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="/assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<!-- End Layer Slider -->           
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initLayerSlider();
        OwlCarousel.initOwlCarousel();
    });
</script>

<script type="text/javascript">
$(".service").click(function() {
	window.location = $(this).data("service"); 
  return false;
});
</script>

{{ partial "ie9_plugin.html" . }}

</body>
</html>
